div{
    height: 100px;
    width: 100px;
    background-color: dodgerblue;
    color: rgb(170, 51, 51);
    border: 1px solid black;
}

.light{
    background-color:white;
    color: black;

}

.dark{
    background-color: black;
    color: white;
}